<div align="center">
  <div class="tacbox">
    <input id="checkbox" type="checkbox" />
    <label for="checkbox"> I agree to these <a href="#">Terms and Conditions</a>.</label>
  </div>
  <div align ="right" class="login"><a href='http://localhost:5000/login'
    onclick="window.location('http://localhost:5000/login">
    Login
  </a></div>
  <div align ="right" class="signup"><a href='http://localhost:5000/signup'
    onclick="window.location('http://localhost:5000/signup">
    Sign Up
</a></div>
</div>