<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='sounds.css') }}">
</head>
<ul>
    <h1>JayHear</h1>
    <div align ="right" class="login"><a href="/logout">Logout</a>
</ul>
<h1>{{ name }}'s Sounds</h1>
<p>You have submitted {{ size }} sounds.</p>
<p><a href="/submit-sound">Submit a sound</a></p>

<h3>Your sounds:</h3>
{% for sound in sounds %} 
    <li><a href="{{ sound.dirty_path }}">Dirty Audio</a></li>
    <audo controls>
        <source src="{{ sound.dirty_path }}" type="audio/ogg">
        <source src="{{ sound.dirty_path }}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audo>
{% endfor %}